In [33]:
import pandas as pd
import warnings

In [34]:
warnings.filterwarnings("ignore")

In [35]:
df_pokemons = pd.read_excel("dados pokemons\pokemons_lista.xlsx")
df_atributos = pd.read_excel("dados pokemons\pokemons_atributos.xlsx")
df_combates = pd.read_excel("dados pokemons\combates_lista.xlsx")

### Lista de pokemons

In [36]:
df_pokemons.head()

   id           name
0   1      Bulbasaur
1   2        Ivysaur
2   3       Venusaur
3   4  Mega Venusaur
4   5     Charmander

In [37]:
df_pokemons.isnull().sum()

id      0
name    0
dtype: int64

In [38]:
df_pokemons.duplicated().sum()

np.int64(0)

### Comabte lista

In [39]:
df_combates.head()

   first_pokemon  second_pokemon  winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [40]:
df_combates.isnull().sum()

first_pokemon     0
second_pokemon    0
winner            0
dtype: int64

In [41]:
df_combates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49990 entries, 0 to 49989
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   first_pokemon   49990 non-null  int64
 1   second_pokemon  49990 non-null  int64
 2   winner          49990 non-null  int64
dtypes: int64(3)
memory usage: 1.1 MB

### Pokemon Atributos

In [42]:
df_atributos.head()

,id,name,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,types,source_id
0,1,Bulbasaur,45,49,49,65,65,45,1,false,Grass/Poison,1
1,2,Ivysaur,60,62,63,80,80,60,1,false,Grass/Poison,2
2,3,Venusaur,80,82,83,100,100,80,1,false,Grass/Poison,3
3,4,Mega Venusaur,80,100,123,122,120,80,1,false,Grass/Poison,4
4,5,Charmander,39,52,43,60,50,65,1,false,Fire,5

In [43]:
df_atributos.isnull().sum()

id            0
name          0
hp            0
attack        0
defense       0
sp_attack     0
sp_defense    0
speed         0
generation    0
legendary     0
types         0
source_id     0
dtype: int64

In [44]:
df_atributos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          139 non-null    int64
 1   name        139 non-null    object
 2   hp          139 non-null    int64
 3   attack      139 non-null    int64
 4   defense     139 non-null    int64
 5   sp_attack   139 non-null    int64
 6   sp_defense  139 non-null    int64
 7   speed       139 non-null    int64
 8   generation  139 non-null    object
 9   legendary   139 non-null    object
 10  types       139 non-null    object
 11  source_id   139 non-null    int64
dtypes: int64(8), object(4)
memory usage: 13.2+ KB